
@{
    ViewBag.Title = "Project Hub";
}


<link href="~/Styles/hubindex.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">

        <div class="row">
            <h2>Project Hub</h2>
        </div>

        <div class="row">
            <a href="~/ProjectView/Index">
                <div class="pagenavbox">
                    <i class="fas fa-atlas"></i>
                    <h4>Manage</h4>
                    <h4>Project</h4>
                </div>
            </a>

            <a href="~/ProjectAllocationView/Index">
                <div class="pagenavbox">
                    <i class="far fa-calendar-plus"></i>
                    <h4>Project</h4>
                    <h4>Allocation</h4>
                </div>
            </a>

            <a href="~/ProjectCategoryView/Index">
                <div class="pagenavbox">
                    <i class="fas fa-tag"></i>
                    <h4>Manage</h4>
                    <h4>Category</h4>
                </div>
            </a>

        </div>

    </div>

</div>

