
@{
    ViewBag.Title = "Error 403 - Forbidden";
}

<body class="errorbackground">
    <div>
        <h2>Forbidden</h2>
        <p>Current User is not authorized for this page</p>
        <p>Please contact a supervisor or system administrator.</p>
        <img src="~/Pictures/Capstoneoctopus.png" height="300" width="300" />
    </div>
</body>

