
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<body class="errorbackground">
    <div>
        <h2>Error</h2>
        <p>Something went wrong while processing your request.</p>
        <img src="~/Pictures/Capstoneoctopus.png" height="300" width="300" />
    </div>
</body>


