
@{
    ViewBag.Title = "Not_Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="errorbackground">
    <div>
        <h2>Error 404 - Page Not Found</h2>
        <p>This page cannot be found. Please contact your system administrator</p>

        <img src="~/Pictures/Capstoneoctopus.png" height="300" width="300" />
    </div>
</body>

